window {
margin: 0px;
border: 1px solid #ebcb8b;
background-color: #3b4252;
}

#input {
margin: 5px;
border: 1px;
background-color: #3b4252;
}

#inner-box {
margin: 5px;
border: none;
background-color: #3b4252;
}

#outer-box {
margin: 5px;
border: none;
background-color: #3b4252;
}

#scroll {
margin: 0px;
border: none;
}

#text {
margin: 5px;
border: none;
} 

#entry:selected {
background-color: #5e81ac;
}
